<div class="container">
  <div class="header">
    <h1>Gonzalo Chumillas</h1>
    <div>
      Software Developer
      <a [href]="'mailto:' + email"><i class="fa fa-envelope"></i></a>
    </div>
  </div>

  <div class="body">
    <div class="section bio">
      <p [innerHTML]="bio.description"></p>
      <app-tags [tags]="bio.tags"></app-tags>
      <ul class="links">
        <li *ngFor="let tag of bio.tags">
          <a [href]="tag.link" [target]="tag.isExternalLink? '_blank': '_self'">
            <i class="fa" [ngClass]="tag.icon"></i>
          </a>
        </li>
      </ul>
    </div>

    <div *ngFor="let section of sections" class="section">
      <h2>{{section.title}}</h2>
      <app-tags [tags]="section.tags"></app-tags>
      <p>{{section.description}}</p>
      <app-snapshots [snapshots]="section.snapshots"></app-snapshots>
    </div>
  </div>
</div>
