@import '../assets/metrics';
@import '../assets/palette';

.container {
  color: $primary-text-color;
  padding: 0;
}

.header {
  background-color: $primary-text-color;
  border-bottom: .5rem solid $accent-color;
  color: $primary-color-light;
  padding: 1rem 1.6rem;

  h1 {
    margin-bottom: 0;
  }

  div {
    font-size: $font-size-h4;
  }

  a {
    color: $primary-color-text;
    margin-left: 1rem;
  }
}

.body {
  padding: 2rem;
}

.section {
  margin-bottom: 4rem;
}
