@import '../assets/metrics';
@import '../assets/palette';

.pictures {
  display: flex;

  .item {
    width: 100%;

    &:not(:first-child) {
      display: none;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  label {
    display: none;
  }
}

@media(min-width: $small-size) {
  .container {
    padding: 0 2rem;
  }

  .pictures {
    text-align: center;

    .item {
      border: 1px solid $divider-color;
      margin: 2rem 1rem;
      padding: 1rem 1rem 0;
      // width: auto;

      &:not(:first-child) {
        display: block;
      }
    }

    img {
      width: 28rem;
    }

    label {
      display: block;
      font-weight: normal;
      line-height: 2.5;
      margin: 0;
    }
  }
}
